:root {
    --main-color: #e63636;
    --font-inter: 'Inter', sans-serif;
}

.bg {
    position: relative;
    background:
    radial-gradient(#00000000, rgba(0, 0, 0, 0.709)),
    linear-gradient(70deg, #ff797976 40%, #ffffff), 
    url("../img/bg1.png");
    background-size: cover;
}






