.principal {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - 2rem);
    }
    

    @media screen and (max-width: 768px) { 
        .principal {
            flex-direction: column;
            height: calc(100vh - 2rem);
        }
    }