@media screen and (max-height: 450px) { 
    .footer {
        position: absolute;
        top: 0px;
        left: 25%;
    }
}

@media screen and (max-height: 380px) { 
    .footer {
        display: none;
    }
}

