.encriptador {
    display: flex;
    flex-direction: column ;
    justify-content: space-between ;
    width: 100%;
    height: calc(100vh - 7rem);
    margin-top: 7rem;
}

@media screen and (max-width: 768px) { 
    .encriptador {
        padding: 1rem;
        margin-top: 1rem;
        width: calc(100vw - 2rem);
        height: 100%;
    }
}

@media screen and (max-height: 600px) { 
    .encriptador {
        padding: 1rem;
        margin-top: 1rem;
        width: calc(100vw - 2rem);
        height: 100%;
    }
}


