.respuesta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 2rem 2rem 6rem;
    padding: 1rem;
    width: 28vw;
    height: calc(100vh - 6rem);
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    box-shadow: 0 24px 32px -8px #00000079;
    border: none;
    border-radius: 32px;
 
}


